/*
 * SASS allows style rules to be nested inside of other rules, which causes
 * the nested rules to only apply within the outer rule's selector
 */


header{
	color:white;
	background-color:black;
	border: inset 5px #AAA;
	h1{
		text-align:center;
	}
	h2{
		margin-left:15%;
	}
	h3{
		margin-left:15%;
	}
	h4{
		margin-left:15%;
	}
}