/* 
 * SASS Variables are defined with a $ character
 * and can have different kinds of data types: color, string, boolean, multi-value
 */

$maincolor:#FFF;
$text:"Hello World";
$number:12;
$multi-var:#000 #AAA red;

body{
	display:grid;
	background-color:$maincolor;
	text-align:center;
}
.link{
	color:#{nth($multi-var,1)};
}

.link:hover{
	color:#{nth($multi-var,3)};
}